@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.App {
  background-color: #f3f4f6;
  display: flex;
  width: 100vw;
  height: 100vh;

  /* flex-direction: column; */
}

.side-bar-ctn {
  flex: .9;
  padding: 2rem .5rem;
}

.form-ctn {
  flex: 2;
  margin-top: 50px;
}

.resume-ctn {
  flex: 3;
  background-color: blanchedalmond;
}

.form-ctn {
  padding: 16px;
}

.info-group span {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
}

.info-group h3 {
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 0;
}

.info-group .additional {
  font-size: 0.7rem;
  font-weight: 500;
  color: #858587;
}

.info-group input {
  font-family: "Arial", "Helvetica";
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.625rem;
  color: #000;
  background-color: #f0f0f4;
  border-radius: 10px;
  border: none;
  width: 100%;
}
