@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: Noto Sans;
}

.header {
    font-size: 28px;
    font-weight: bold;
}

.personal-details-ctn {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
}